apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: mattermost-operator
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - configmaps
      - secrets
      - serviceaccounts
    verbs:
      - '*'
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - '*'
  - apiGroups:
      - apps
    resourceNames:
      - mattermost-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
      - delete
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - create
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
      - ingressclasses
    verbs:
      - '*'
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
      - roles
    verbs:
      - get
      - create
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - mattermost.com
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - installation.mattermost.com
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - mysql.presslabs.org
    resources:
      - mysqlbackups
      - mysqlclusters
      - mysqlclusters/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - miniocontroller.min.io
    resources:
      - minioinstances
      - minioinstances/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
