apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: mattermostclusters.app.mattermost.com
spec:
  group: app.mattermost.com
  names:
    kind: MattermostCluster
    listKind: MattermostClusterList
    plural: mattermostclusters
    singular: mattermostcluster
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          type: object
        status:
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
