apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: mattermost-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - extensions
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - get
  - create
  - list
  - delete
  - watch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - mattermost-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - mattermost.com
  resources:
  - '*'
  - mattermostclusters
  verbs:
  - '*'
- apiGroups:
  - mysql.oracle.com
  resources:
  - mysqlbackups
  - mysqlbackupschedules
  - mysqlclusters
  - mysqlclusters/finalizers
  - mysqlrestores
  verbs:
  - '*'
- apiGroups:
  - mysql.oracle.com
  resources:
  - mysqlbackups
  verbs:
  - create
