name: cd
on:
  push:
    tags:
      - "v**"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.7.1

      - name: cd/docker-login
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker
        run: make buildx-image
        env:
          OPERATOR_IMAGE_TAG: ${{ github.ref_name }}

  build-fips:
    if: ${{ vars.ENABLE_FIPS_BUILDS == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.7.1

      - name: cd/docker-login-chainguard
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: cgr.dev
          username: ${{ secrets.CHAINGUARD_USERNAME }}
          password: ${{ secrets.CHAINGUARD_TOKEN }}

      - name: cd/docker-login
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker-fips
        run: make buildx-image-fips
        env:
          OPERATOR_IMAGE_TAG_FIPS: ${{ github.ref_name }}
