name: cd
on:
  push:
    tags:
      - "v**"

env:
  ENABLE_FIPS_BUILDS: true # Set to false to disable FIPS builds

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.7.1

      - name: cd/docker-login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker
        run: make buildx-image
        env:
          OPERATOR_IMAGE_TAG: ${{ github.ref_name }}

  build-fips:
    continue-on-error: true
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.7.1

      - name: cd/setup-chainctl
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: chainguard-dev/setup-chainctl@v0.4.0
        with:
          identity: ee399b4c72dd4e58e3d617f78fc47b74733c9557/0439801bd43520ae

      - name: cd/docker-login
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker-fips
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        run: make buildx-image-fips
        env:
          OPERATOR_IMAGE_TAG_FIPS: ${{ github.ref_name }}


  anchore-scan:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: security/scan-enterprise-edition-with-anchore
        id: anchore-enterprise
        uses: mattermost/actions/delivery/anchore-scan@main
        with:
          image_name: mattermost/mattermost-operator:${{ github.ref_name }}
          dockerfile_path: ./Dockerfile
          show_vulnerabilities: 'false'
          anchorectl_url: ${{ secrets.ANCHORECTL_URL }}
          anchorectl_username: ${{ secrets.ANCHORECTL_USERNAME }}
          anchorectl_password: ${{ secrets.ANCHORECTL_PASSWORD }}
          ts_oauth_client_id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts_oauth_secret: ${{ secrets.TS_OAUTH_SECRET }}

  anchore-scan-fips:
    runs-on: ubuntu-latest
    needs: [build-fips]
    steps:
      - name: security/scan-enterprise-fips-edition-with-anchore
        id: anchore-enterprise-fips
        uses: mattermost/actions/delivery/anchore-scan@main
        with:
          image_name: mattermost/mattermost-operator-fips:${{ github.ref_name }}
          dockerfile_path: ./Dockerfile.fips
          show_vulnerabilities: 'false'
          anchorectl_url: ${{ secrets.ANCHORECTL_URL }}
          anchorectl_username: ${{ secrets.ANCHORECTL_USERNAME }}
          anchorectl_password: ${{ secrets.ANCHORECTL_PASSWORD }}
          ts_oauth_client_id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts_oauth_secret: ${{ secrets.TS_OAUTH_SECRET }}
