name: cd
on:
  push:
    tags:
      - "v**"

env:
  ENABLE_FIPS_BUILDS: true # Set to false to disable FIPS builds

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          version: v0.7.1

      - name: cd/docker-login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker
        run: make buildx-image
        env:
          OPERATOR_IMAGE_TAG: ${{ github.ref_name }}

  build-fips:
    continue-on-error: true
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: cd/checkout-repo
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: cd/setup-buildx
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          version: v0.7.1

      - name: cd/setup-chainctl
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: chainguard-dev/setup-chainctl@v0.5.0
        with:
          identity: ee399b4c72dd4e58e3d617f78fc47b74733c9557/0439801bd43520ae

      - name: cd/docker-login
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: cd/push-docker-fips
        if: ${{ env.ENABLE_FIPS_BUILDS == 'true' }}
        run: make buildx-image-fips
        env:
          OPERATOR_IMAGE_TAG_FIPS: ${{ github.ref_name }}

  anchore-scan:
    runs-on: ubuntu-latest
    needs: [build, build-fips]
    steps:
      - name: cd/checkout-repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: security/anchore-scan
        id: anchore-operator
        uses: mattermost/actions/delivery/anchore-scan@f324ac89b05cc3511cb06e60642ac2fb829f0a63
        with:
          image_name: mattermost/mattermost-operator:${{ github.ref_name }}
          dockerfile_path: ./Dockerfile
          show_vulnerabilities: 'false'
          anchorectl_url: ${{ secrets.ANCHORECTL_URL }}
          anchorectl_username: ${{ secrets.ANCHORECTL_USERNAME }}
          anchorectl_password: ${{ secrets.ANCHORECTL_PASSWORD }}
          ts_oauth_client_id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts_oauth_secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: security/anchore-scan-fips
        id: anchore-operator-fips
        uses: mattermost/actions/delivery/anchore-scan@f324ac89b05cc3511cb06e60642ac2fb829f0a63
        with:
          image_name: mattermost/mattermost-operator-fips:${{ github.ref_name }}
          dockerfile_path: ./Dockerfile.fips
          show_vulnerabilities: 'false'
          anchorectl_url: ${{ secrets.ANCHORECTL_URL }}
          anchorectl_username: ${{ secrets.ANCHORECTL_USERNAME }}
          anchorectl_password: ${{ secrets.ANCHORECTL_PASSWORD }}
          ts_oauth_client_id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts_oauth_secret: ${{ secrets.TS_OAUTH_SECRET }}
